<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), user_path(feed_item.user) %>
  </td>
  <td class="micropost">
    <span class="user">
      <%= link_to feed_item.user.name, user_path(feed_item.user) %>
    </span>
    <%= render "shared/micropost_content_and_timestamp", :micropost => feed_item %> 
  </td>
  <% if current_user?(feed_item.user) %>
  <td>
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "Your sure?",
                                     :title => feed_item.content %>
  </td>
  <% end %>
</tr>
